{% extends 'base.html' %}

{% block title %}
Профайл пользователя {{ author }}
{% endblock %}  
{% block content %}
  <h1>
    Все посты пользователя {{author}}
  </h1>
  <h3>
    Всего постов: {{ posts_num }}
  </h3>
  {% for posts in page_obj %}   
    <article>
      {% include 'includes/author.html' %}
      <p>
        {{ posts.text }}
      </p>
      <a href="{% url 'posts:post_detail' posts.id%}">
        подробная информация 
      </a>
    </article> 
    {% if posts.group %}      
      <a href="{% url 'posts:group_list' posts.group.slug %}">
        все записи группы
      </a>        
    {% endif %}
    {% if not forloop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}   
{% endblock %}
